#navbar img{
  width: 50px;
  height: 50px;
}
#navbarSupportedContent{
  float: right;
  width: 35%;
}
#kiri{
  float: left;
  width: 65%;
  display: flex;
  align-items: center;
}
#kiri h2{
  margin-left: 10px;
}
#navbar{
position: fixed;
width: 100%;
background: rgb(221,175,255) !important;
background: linear-gradient(90deg, rgba(221,175,255,1) 0%, rgba(166,231,255,1) 39%, rgba(63,255,140,1) 100%) !important;
}
.navbar-nav li{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-nav li{
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.navbar-nav li a {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.navbar-nav li::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: rgb(23,0,40);
background: linear-gradient(90deg, rgba(23,0,40,1) 0%, rgba(97,9,121,1) 35%, rgba(0,212,255,1) 100%);
  height: 2px;
  transition: 0.3s ease-out;
}

.navbar-nav li a::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.navbar-nav li:hover::after {
  width: 100%;
}

.navbar-nav li:hover a::before {
  width: 100%;
}
#tombol-nav{
margin-right: 20px;
}
body {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
}
.welcome {
  width: 100%;
  height: 500px;
  background-image: url("https://sumbarprov.go.id/images/2018/03/Adi_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome h1 {
  color: black;
  font-weight: 300;
  font-size: 2rem;
}
.product-mac {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  cursor: pointer;
}
.product-mac h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.grid-product {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.grid-product:hover {
  background: #e1e1e1;
}
.grid-product img {
  width: 300px;
  margin: 20px;
}
.grid-detail {
  margin: 20px 0;
  text-align: center;
}
.grid-detail p:last-child {
  transition: .5s;
  margin-top: 10px;
}
.header2{
  background-color:#ffffff;
  text-align:center;
  margin: 1%;
  padding: 1px;
  font-family:"Arial";
  font-size: 15px;
  color:#595959;
}

.header2 a{
  text-decoration: none;
  color:#4e94db;

}
.header2 a:hover{
   text-decoration: underline;
}
.mainbox3 h1{
  color: black;
  font-size: 75px;
  letter-spacing: -.06em;
}

.mainbox3 p{
   bottom: 38px;
   font-size: 34px;
   letter-spacing: .01em;
   color: rgba(0,0,0,0.8);
}

.mainbox3 a{
  font-size: 20px;
  color:#4e94db;
  bottom: 38px;
  text-decoration: none;
  font-family:"Arial";
  display:block;
}

.mainbox3 a:hover{
   text-decoration: underline;
}

#mainbox3 img {
    bottom: 30px;
    width:85%;
    margin: 100%;
}