#navbar img {
  width: 50px;
  height: 50px;
}
#navbarSupportedContent {
  float: right;
  width: 35%;
}
#kiri {
  float: left;
  width: 65%;
  display: flex;
  align-items: center;
}
#kiri h2 {
  margin-left: 10px;
  margin-bottom: 0px !important;
  color: black;
  font-weight: 700;
}
#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#cc {
  width: 100%;
}
#root {
  width: 100% !important;
}
#seratus {
  width: 100%;
}
.navbar-nav li {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-nav li {
  --primary-color: black;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.navbar-nav li a {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

body {
  width: 100% !important;
}

.navbar-nav li::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: rgb(23, 0, 40);
  background: linear-gradient(
    90deg,
    rgba(23, 0, 40, 1) 0%,
    rgba(97, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 2px;
  transition: 0.3s ease-out;
}

.navbar-nav li a::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.navbar-nav li:hover::after {
  width: 100%;
}

.navbar-nav li:hover a::before {
  width: 100%;
}
#tombol-nav {
  margin-right: 20px;
}
body {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-style: normal;
}
.atas1 {
  background-image: url("https://sumbarprov.go.id/images/2018/03/Adi_2.jpg");
  background-size: cover;
  width: 100% !important;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.atas1 h1 {
  font-weight: 600;
  color: white;
  font-size: 200%;
}

.atas2 {
  background-color: #ffffff;
  text-align: center;
  font-family: "Arial";
  color: #595959;
  width: 100% !important;
  display: inline-block;
}

.atas2 p {
  bottom: 38px;
  font-size: 170%;
  letter-spacing: 0.01em;
  color: black !important;
}

.atas2 button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.atas2 button svg {
  margin-right: 3px;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.atas2 button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.atas2 button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.atas2 button:hover span {
  transform: translateX(7px);
}

.kerinci {
  background-color: #77afaf;
}
.kerinci h1,
.kerinci p {
  color: #ffffff !important;
}
.kerinci img {
  margin-bottom: 40px;
  width: 70%;
  height: 70%;
}

#gambar {
  width: 35%;
  height: 35%;
}
#hsatu {
  font-size: 400%;
  font-weight: 400;
  color: black;
}

.video-container iframe {
  width: 100%;
  height: 300px;
}
.video-container h1 {
  color: black;
  font-size: 300%;
  font-weight: 300;
  letter-spacing: -0.06em;
  text-align: center;
  margin-top: 10%;
}
.video-container p {
  font-size: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  margin-top: 50px;
  width: 100% !important;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.mainbox6 {
  display: inline-block;
  background-color: #b5b4b4;
  font-family: "Arial";
  text-align: center;
  width: 100%;
}

.mainbox6 img {
  width: 15%;
  height: 15%;
}

.mainbox6 h1 {
  color: black;
  font-size: 75px;
  letter-spacing: -0.06em;
}

.mainbox6 p {
  position: relative;
  bottom: 38px;
  font-size: 34px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}

.mainbox6 a {
  font-size: 20px;
  color: #4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.mainbox6 a:hover {
  text-decoration: underline;
}
