#navbar img {
  width: 50px;
  height: 50px;
}
#navbarSupportedContent {
  float: right;
  width: 35%;
}
#kiri {
  float: left;
  width: 65%;
  display: flex;
  align-items: center;
}
#kiri h2 {
  margin-left: 10px;
  margin-bottom: 0px !important;
  color: black;
  font-weight: 700;
}
#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#cc {
  width: 100%;
}
#root {
  width: 100% !important;
}
#seratus {
  width: 100%;
}
.navbar-nav li {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-nav li {
  --primary-color: black;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.navbar-nav li a {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

body {
  width: 100% !important;
}

.navbar-nav li::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: rgb(23, 0, 40);
  background: linear-gradient(
    90deg,
    rgba(23, 0, 40, 1) 0%,
    rgba(97, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 2px;
  transition: 0.3s ease-out;
}

.navbar-nav li a::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.navbar-nav li:hover::after {
  width: 100%;
}

.navbar-nav li:hover a::before {
  width: 100%;
}
#tombol-nav {
  margin-right: 20px;
}

body {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
  font-style: normal;
}

.container-visimisi {
  margin-top: 70px;
  margin-bottom: 80px;
  margin-right: 50px;
  width: 100%;
  background-color: #d1e7f7;
}

.mision-containers h1 {
  color: #1e29a8;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: -0.06em;
  text-align: center;
  margin-top: 4%;
}

.mision-container p {
  font-size: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.vision-container h1 {
  color: #1e29a8;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: -0.06em;
  text-align: center;
  margin-top: 10%;
}

.vision-containers p {
  font-size: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 100px;
}

* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: rgba(21, 21, 21, 0.427);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.413);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.contaner .card .content .contentBx h3 span {
  font-size: 13px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li a {
  color: #c9bbffde;
  font-size: 22px;
}

.containerr {
  margin-top: 50px;
  width: 83% !important;
  margin-left: auto;
  margin-right: auto;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
